<h3 id="index_home">Currently Released Pokemon</h3>
<div class="container">
<p id="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus deleniti doloremque ducimus impedit! Eveniet tempore, iste animi et enim maxime quaerat provident numquam vel ad necessitatibus illo perferendis veritatis.</p>
<p id="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus deleniti doloremque ducimus impedit! Eveniet tempore, iste animi et enim maxime quaerat provident numquam vel ad necessitatibus illo perferendis veritatis.</p>
<p id="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus deleniti doloremque ducimus impedit! Eveniet tempore, iste animi et enim maxime quaerat provident numquam vel ad necessitatibus illo perferendis veritatis.</p>
<a id="footer1"href="legendaries">Legendaries</a>
<a id="footer2"href="released">Released</a>
<a id="footer3"href="raids">Raids</a>
</div>