<div class="container">
<p id="left">Kalos species Chespin, Fennekin, Froakie, Bunnelby, Fletchling, Litleo, and Noibat appearing in the wild, event field research and timed research.</p>
<p id="center">For the month of December 2020, Lapras or Unovan Darumaka will appear as Research Breakthrough encounters!</p>
<p id="right">Kyurem, the Boundary Pokémon, returns to 5 star raid battles!</p>
<a class="footer" id="footer1"href="legendaries">Legendaries</a>
<a class="footer" id="footer2"href="released">Released</a>
<a class="footer" id="footer3"href="raids">Raids</a>
<a class="footer" id="footer4"href="messageboard">Message Board</a>
</div>