<div class="container">
<p id="left">Kalos species Chespin, Fennekin, Froakie, Bunnelby, Fletchling, Litleo, and Noibat appearing in the wild, event field research and timed research.</p>
<p id="center">For the month of December 2020, Lapras or Unovan Darumaka will appear as Research Breakthrough encounters!</p>
<p id="right">Pokémon GO has announced one of the most exciting updates that has ever come to the game, with the news of a new event to celebrate Pokémon the Movie: Secrets of the Jungle that includes the return of not only Jessie and James in Team GO Rocket Balloons, but for the first ever time, Shiny Celebi!</p>
<a class="footer" id="footer1"href="legendaries">Legendaries</a>
<a class="footer" id="footer2"href="released">Released</a>
<a class="footer" id="footer3"href="raids">Raids</a>
<a class="footer" id="footer4"href="messageboard">Message Board</a>
</div>