<div class="container">
<p id="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus deleniti doloremque ducimus impedit! Eveniet tempore, iste animi et enim maxime quaerat provident numquam vel ad necessitatibus illo perferendis veritatis.</p>
<p id="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus deleniti doloremque ducimus impedit! Eveniet tempore, iste animi et enim maxime quaerat provident numquam vel ad necessitatibus illo perferendis veritatis.</p>
<p id="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus deleniti doloremque ducimus impedit! Eveniet tempore, iste animi et enim maxime quaerat provident numquam vel ad necessitatibus illo perferendis veritatis.</p>
<a class="footer" id="footer1"href="legendaries">Legendaries</a>
<a class="footer" id="footer2"href="released">Released</a>
<a class="footer" id="footer3"href="raids">Raids</a>
<a class="footer" id="footer4"href="messageboard">Message Board</a>
</div>