<h3 id="index_home">Currently Released Pokemon</h3>
<ul class="releasedPokemon">
    <% pokemonList.forEach(pokemon => { %>
        <li><%= pokemon.name %> <button><%= pokemon.id %></button></li>
    <% }); %>

</ul>