<h1 id="releasedh1">Legendary Pokemon</h1>
<p>Click the number to add the corresponding pokemon to your watchlist</p>
<ul>
    <% pokemon.forEach(poke => { %>
        <li> <%= poke.pokemon_name %>, <%= poke.form %> <button><%= poke.pokemon_id %></button></li>
    <% }); %>
</ul>