<h2 id="title">Legendary Pokemon</h2>
<p id="description">Click the link to see the details of that pokemon</p>
<ul>
    <% pokemon.forEach(poke => { %>
        <li> <a href="/pokemon/<%=poke.pokemon_id%>"><%= poke.pokemon_name %>, <%= poke.form %></a></li>
    <% }); %>
</ul>