<div id="messageboard">
  <ul>
    <% allPost.forEach(post => { %>
    <li id="post"><%=post.creator%> : <%= post.content%></li>
    <% if (id === post.userId){ %>
      <a href="/messageboard/post/<%= post.id %>">Edit</a>
    <% } %>
    <% }); %>
  </ul>
</div>

<div id="newPost">
  <form action="messageboard" method="POST">
    <input name="creator" type="text" placeholder="Name" />
    <input name="content" type="text" placeholder="Post Content" />
    <label for="content">Create a new Post here</label>
    <button type="submit">Submit</button>
  </form>
</div>