<ul>
    <% allPost.forEach(post => { %>
        <li><%=post.creator%> : <%= post.content%></li>
        <a href="/messageboard/post/<%= post.id %>">Edit</a>
    <% }); %>
</ul>


<form action="messageboard"method="POST">
    <input name="creator" type="text" placeholder="Name"> 
    <input name="content" type="text" placeholder="Post Content"> 
    <label for="content">Create a new Post here</label> <button type="submit">Submit</button>
</form>
<!-- might need to use method override again -->