<h2 id="title">Legendary Pokemon</h2>
<p id="description">Click the link to see the details of that pokemon</p>
<ul>
    <% pokemonList.forEach(poke => { %>
        <li> <a href="/pokemon/<%=poke.id%>"><%= poke.name %>, Raid Level: <%= poke.raid_level %></a></li>
    <% }); %>
</ul>