<h2 id="title">Currently Released Pokemon</h2>
<p id="description">Click the number to add the corresponding pokemon to your watchlist</p>

<ul>
    <% pokemonList.forEach(pokemon => { %>
        <li> <%= pokemon.name %> 
    <form action="/released" method="POST">
        <input hidden type="text" name= "id" value="<%= pokemon.id %>">
        <button><%= pokemon.id %></button>
    </form>
</li>
<% }); %>
</ul>