<h2 id="title">Currently Released Pokemon</h2>
<p id="description">Click the number to add the corresponding pokemon to your watchlist</p>

<form action="released" method="POST">
<ul>
    <% pokemonList.forEach(pokemon => { %>
        <li> <%= pokemon.name %> <button type="submit"><%= pokemon.id %></button></li>
        <input hidden type="text" name="name" value="<%= pokemon.id %>">
    <% }); %>
</ul>
</form>