body {
  background-image: url("https://cache.desktopnexus.com/cropped-wallpapers/1327/1327819-1600x900-[DesktopNexus.com].jpg?st=EL8OaG2Dkvvnx-ydWL2dbA&e=1607132159");
  background-color: #cccccc;
  background-size: auto;
  background-repeat: no-repeat;
  font-family: 'Nerko One', cursive;
  /* font-family: 'Syne Mono', monospace; */
}
.auth_links {
  margin-left: 90%;
  list-style-type: none;
  display: inline-block;
}
.layout_links {
  border: 2px solid black;
  border-radius: 10px;

}

#page_name {
  text-align: center;
  font-size: 50px;
  color: white
}

#index_home {
  text-align: center;
}
ul {
  text-align: center;
  margin: 0 auto;
  list-style-type: none;
}

#title {
  text-align: center;
  color:white;
  font-size: 30px;
}
#description {
  text-align: center;
  color:white;
  font-size: 30px;
}
#error {
  height: 500px;
}
.footer {
  font-size: 20px;
  color: black;
}
.linksList {
  columns: 3;
  color: rgb(99, 218, 206);
}
#links:link {
  color: turquoise;
}
#links:visited {
  color: rgb(233, 107, 170);
}

.releasedLinks {
  columns: 4;
}
#releasedLinks {
  padding: 10px;
  margin-left: 25%;
}
#pikachuImg {
  height: 300px;
  float: inline-start;
  margin: auto 0;
  margin-left: 25%;
  mix-blend-mode: multiply;
}
.container {
  display: grid;
  grid-template-areas: 
    "header header header"
    "left center right"
    "footer1 footer2 footer3"
    ". footer4 .";
  grid-gap: 10px;
  border: 10px;
  border-color: black;
}
.released {
  background-color: rgb(120, 123, 34);
  background-image: url(null)
}
.raidPokemon {
  columns: 3;
}
#messageboard {
  background-color:white;
  width: 600px;
  margin: 0 auto;
}
#post {
  text-align: center;
}
#newPost {
  padding-top: 50px;
  text-align: center;
  color: white;
}
#error {
  margin-left:25%;
}
#details {
  color: rgb(53, 98, 221);
  font-size:30px;
}
.statsLink {
  font-size: 30px;
}
#profile {
  color:white;
  text-align: center;
}
.profileLinks {
  columns: 3;
  padding: 20px;
}
#profileButton {
  padding: 15px;
}
#left {
  grid-area: left;
  font-size: 30px;
  color: white;
}
#center {
  grid-area: center;
  font-size: 30px;
  color: white;
}
#right {
  grid-area: right;
  font-size: 30px;
  color: white;
}

#footer1 {
  grid-area: footer1;
  text-align: center;
}
#footer2 {
  grid-area: footer2;
  text-align: center;
}
#footer3 {
  grid-area: footer3;
  text-align: center;
}
#footer4 {
  grid-area: footer4;
  text-align: center;
  margin-top: 250px;
}

.footer {
  color: white
}
@media only screen and (min-width: 600px) {
  #pikachuImg {
    height: 0px;
  }
}